# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]
*.so

# VSCode / PyCharm / JetBrains IDEs
.vscode/
.idea/

# OS 자동 생성 파일
.DS_Store
Thumbs.db

# Data & logs
*.log
*.csv
*.tsv
*.zip
*.tar.gz
*.h5
*.npy
*.pkl
*.ckpt

# Model weights & outputs
checkpoints/
runs/                 # for TensorBoard
outputs/
logs/
models/
*.pth
*.pt

# Environment files
.env
*.egg-info/
pip-wheel-metadata/

# Datasets (raw or processed)
Dataset/
data/
images/
gtFine/
leftImg8bit/

# Colab & IPython temp
*.nbconvert.ipynb
